<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>{{.Name}} - browse</title>
</head>
<body>
    <div class="flex flex-col m-2 border border-slate-300 shadow">
        
        <!-- Header -->
        <div class="p-2 rounded-b bg-neutral-300">
            <div class="float-right mt-1 mr-2">
                <a href="https://git-scm.com/">
                    <img src="https://git-scm.com/favicon.ico" alt="git-scm">
                </a>
            </div>
            <div class="float-right mt-1.5 mr-2.5">
                <code class="select-all">git clone {{.CloneURL}}</code>
            </div>
            <h1 class="text-3xl font-bold">{{.Host}} {{range (split .Path "/")}}{{if .}}/ {{.}} {{end}}{{else}}{{.Name}}{{end}}</h1>
            <h2 class="text-xl pl-10 mb-0 pb-0">
                <a href="?home">home</a> - 
                <a href="?log">log</a> - 
                <a href="?tree">tree</a>
            </h2>
        </div>

        <!-- Content -->
        <div class="mx-4 p-4 grid grid-cols-2 justify-around">
            <!-- About -->
            <div class="w-3/4 flex flex-row">
                <div class="basis-auto border-y-2 border-l-2 border-neutral-400 divide-y-2 divide-neutral-400 bg-neutral-300">
                    <p class="font-bold px-1">Repository:</p>
                    <p class="font-bold px-1">Author:</p>
                    <p class="font-bold px-1">Updated:</p>
                    <p class="font-bold px-1">Description:</p>
                </div>
                <div class="basis-2/3 border-y-2 border-neutral-400 border-r-2 divide-y-2 divide-neutral-400">
                    <p class="px-1">{{.Name}}</p>
                    <p class="px-1">Rex McKinnon (rex@mckinnon.ninja)</p>
                    <p class="px-1">{{.Now}}</p>
                    <p class="px-1">{{.Tagline}}</p>
                </div>
            </div>
            
            <!-- Ref sidebar -->
            <div class="w-1/4">
                <div class="bg-neutral-300 rounded">
                    <h2 class="text-lg">refs</h2>
                </div>
                <div class="mx-4 px-2">
                    {{range .Branches}}<p>{{.}}</p>{{end}}
                </div>
                <div class="bg-neutral-300 rounded">
                    <h2 class="text-lg">tags</h2>
                </div>
                <div class="mx-4 px-2">
                    {{range .Tags}}<p>{{.}}</p>{{end}}
                </div>
            </div>

            <code class="whitespace-pre-wrap">{{.Description}}</code>
        </div>
        
        <!-- footer -->
        <div class="p-2 bg-neutral-300 rounded-t">
            <p class="float-left">{{.Name}} - {{.Tagline}}</p>
            <p class="float-right text-sm">generated {{.Now}} by git_server browser - powered by caddy</p>
        </div>
    </div>
</body>
</html>